#container{
    margin: 2% 2%;
}

.welcome-title{
    margin-bottom: 2%;
}

.fas{
    font-size: 54px;
    color: white;
}

.boxes{
    background-color: green;
    width: 100%;
    margin: 0% 1%;
    padding: 5% 2%;
}