#container{
    width: 100%;
    float: left;
}

#nav{
    width: 5%;
    float: left;
}

#menu{
    width: 90%;
    margin-left: 3%;
    float: left;
}

#nav .fas{
    font-size: 22px;
}

.fas{
    font-size: 28px;
    color: white;
}

#trademark{
    position: fixed;
    bottom: 0px;
}